:root {
  --gap:0px;
  --gap2:7px;
}

.app-container {
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
}

.home-menu-container {
  position:absolute;
  left: var(--gap);
  top: var(--gap);
  bottom: var(--gap);
  width: 400px;
  padding: var(--gap2);
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}